.Home {
    height:100%;
    width:100%;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color:#e2e1e0;
}

.Home #heading {
	font-size: 40px;
    margin:10px;
}

.Home #subheading {
	font-size: 30px;
    margin:10px;
}

  